@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --list: url("/images/list-bullet.png");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --list-bullet: var(--list);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Helvetica, sans-serif;
}

/* HEADER STYLES*/
.container-logo {
  @apply flex items-center gap-8 flex-col md:flex-row md:gap-8 lg:gap-12;
}

.link {
  @apply text-lg text-center leading-none text-[#0F172A] font-semibold md:text-base;
}

.hamburger {
  @apply relative w-[18px] h-0.5 rounded-sm bg-[#0F172A] z-[100];
}

.hamburger.menu-open {
  @apply bg-transparent;
}

/* FOOTER STYLES*/

.footer-block {
  @apply max-w-fit md:max-w-[calc(100%/6)] w-full min-w-32 flex-1;
}

.footer-block ul {
  @apply list-none;
}

footer ul li,
footer p {
  @apply text-base text-[#E2E8F0] font-normal;
}

.footer-block ul li:first-child {
  @apply font-medium text-white;
}

.footer-block ul li + li {
  @apply mt-5;
}

/* COMMON STYLES*/
.button {
  @apply border-2 rounded-lg block capitalize text-center font-semibold;
}

.button-sm {
  @apply text-base px-7 py-3;
}

.button-lg {
  @apply text-2xl py-5 px-12;
}

.title {
  @apply font-extrabold leading-[1.2];
}

.title-sm {
  @apply text-2xl md:text-4xl lg:text-[56px];
}

.title-lg {
  @apply text-[40px] md:text-5xl lg:text-7xl;
}

.text-default {
  @apply text-base leading-[1.4] md:text-lg md:leading-[1.4] lg:text-2xl lg:leading-[1.6] text-[#0F172A];
}

.custom-list {
  @apply list-image-[url('/images/list-bullet.png')] mb-8 ps-5 md:mb-9 md:mt-6 lg:mb-12 lg:mt-8;
}

.custom-list li + li {
  @apply mt-4 md:mt-0;
}

.list-item {
  @apply text-xl md:text-base lg:text-xl ps-2 leading-[1.8];
}

.bg-about-app {
  @apply bg-[url(/images/about_detail_mobile.png)] bg-[left_0px_bottom_115px] bg-no-repeat md:bg-[url(/images/about_detail.png)] md:bg-[calc(64%)_center] md:bg-no-repeat;
}

.card {
  @apply p-4 bg-white rounded shadow-xl;
}

.card-type {
  @apply py-1 px-2 rounded-sm capitalize text-sm w-fit;
}

.card-title {
  @apply text-base lg:text-xl font-medium leading-[1.1] my-2 text-left;
}

.card-description {
  @apply text-xs lg:text-sm leading-[1.4] mb-4 text-left;
}

.nav {
  @apply flex items-center justify-center h-12 w-12 border-2 border-[#EA580C] rounded-full;
}

#fRequest fieldset + fieldset {
  @apply mt-5;
}

.form-label {
  @apply text-lg text-white font-medium;
}

.form-input {
  @apply rounded-[10px] bg-white px-6 py-4 text-sm text-[#0F172A] w-full max-w-full;
}

.form-input::placeholder {
  @apply text-[#A6A6A6];
}

@layer utilities {
  .after-carousel-detail {
    position: relative;
  }

  .after-carousel-detail::after {
    content: "";
    position: absolute;
    width: 52%;
    height: 176%;
    top: -145px;
    right: 40px;
    background: url("/images/carousel/detail-carousel.png") center center
      no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
  }

  .after-carousel-detail::before {
    content: "";
    position: absolute;
    width: 155px;
    height: 155px;
    bottom: -50px;
    right: 29.5%;
    background: url("/images/carousel/detail-carousel-item.png") center center
      no-repeat;
    background-size: 100% 100%;
    pointer-events: none;
    z-index: 11;
  }

  @media (max-width: 768px) {
    .after-carousel-detail::after {
      width: 120%;
      height: 97%;
      top: unset;
      bottom: -22%;
      right: -50px;
    }

    .after-carousel-detail::before {
      width: 155px;
      height: 155px;
      bottom: -120px;
      right: unset;
      left: 16%;
    }
  }

  @media (max-width: 390px) {
    .after-carousel-detail::after {
      width: 140%;
      height: 85%;
      bottom: -22%;
      right: -60px;
    }

    .after-carousel-detail::before {
      content: "";
      width: 155px;
      height: 155px;
      position: absolute;
      bottom: -120px;
      right: unset;
      left: 16%;
    }
  }

  .before-underline-image {
    position: relative;
    display: inline-block;
  }

  .before-underline-image::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 23px;
    background: url("/images/title_detail.png") no-repeat center center;
    background-size: cover;
    z-index: -1;
  }

  .before-plane-image {
    position: relative;
    display: inline-block;
  }

  .before-plane-image::before {
    content: "";
    position: absolute;
    right: 15px;
    top: -40px;
    width: 64px;
    height: 64px;
    background: url("/images/title_detail_2.png") no-repeat center center;
    background-size: cover;
  }

  .hamburger::after,
  .hamburger::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 2px;
    background-color: #0f172a;
  }

  .hamburger::before {
    top: -4px;
    left: 0;
  }

  .hamburger::after {
    bottom: -4px;
    left: 0;
  }

  .hamburger.menu-open::before {
    top: 0;
    transform: rotate(50deg);
  }

  .hamburger.menu-open::after {
    bottom: 0;
    transform: rotate(-50deg);
  }
}

.opened {
  display: block !important;
  position: absolute;
  left: 0;
  top: 0;
  height: 100dvh;
  overflow: hidden;
  width: 100%;
  background-color: #fff;
  padding: 50px 20px;
  z-index: 99;
}
