@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --list: url("/images/list-bullet.png");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --list-bullet: var(--list);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Helvetica, sans-serif;
}

/* HEADER STYLES*/
.container-logo {
  @apply flex items-center gap-4 md:gap-8 lg:gap-12;
}

.link {
  @apply text-sm leading-none text-[#0F172A] font-semibold md:text-base;
}

/* COMMON STYLES*/
.button {
  @apply border-2 rounded-lg block capitalize text-center font-semibold;
}

.button-sm {
  @apply text-base px-7 py-3;
}

.button-lg {
  @apply text-2xl py-5 px-12;
}

.title {
  @apply font-extrabold leading-[1.2];
}

.title-sm {
  @apply text-[56px];
}

.title-lg {
  @apply text-7xl;
}

.text-default {
  @apply text-2xl leading-[1.6] text-[#0F172A];
}

.list-item {
  @apply text-xl ps-2 leading-[1.8];
}
