@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --list: url("/images/list-bullet.png");
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --list-bullet: var(--list);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Roboto, Helvetica, sans-serif;
}

/* HEADER STYLES*/
.container-logo {
  @apply flex items-center gap-4 md:gap-8 lg:gap-12;
}

.link {
  @apply text-sm leading-none text-[#0F172A] font-semibold md:text-base;
}

/* COMMON STYLES*/
.button {
  @apply border-2 rounded-lg block capitalize text-center font-semibold;
}

.button-sm {
  @apply text-base px-7 py-3;
}

.button-lg {
  @apply text-2xl py-5 px-12;
}

.title {
  @apply font-extrabold leading-[1.2];
}

.title-sm {
  @apply text-[56px];
}

.title-lg {
  @apply text-7xl;
}

.text-default {
  @apply text-2xl leading-[1.6] text-[#0F172A];
}

.list-item {
  @apply text-xl ps-2 leading-[1.8];
}

.card {
  @apply p-4 bg-white rounded shadow-xl;
}

.card-type {
  @apply py-0.5 px-2 rounded-sm capitalize;
}

.featured {
  @apply bg-[#F3E8FF] text-[#6B21A8];
}
.popular {
  @apply bg-[#DBEAFE] text-[#1E40AF];
}
.new {
  @apply bg-[#DCFCE7] text-[#166534];
}

.card-title {
  @apply text-xl font-medium leading-[1.1] my-2 text-left;
}

.card-description {
  @apply text-sm leading-[1.4] mb-4 text-left;
}

.nav {
  @apply flex items-center justify-center h-12 w-12 border-2 border-[#EA580C] rounded-full;
}

@layer utilities {
  .after-carousel-detail {
    position: relative;
  }

  .after-carousel-detail::after {
    content: "";
    position: absolute;
    width: 690px;
    height: 720px;
    top: -55px;
    right: 17%;
    background: url("/images/carousel/detail-carousel.png") center center
      no-repeat;
    background-size: 100% 100%;
    z-index: 1;
  }

  .after-carousel-detail::before {
    content: "";
    position: absolute;
    width: 155px;
    height: 155px;
    bottom: 32px;
    right: 38.5%;
    background: url("/images/carousel/detail-carousel-item.png") center center
      no-repeat;
    background-size: 100% 100%;
    z-index: 21;
  }

  .before-underline-image {
    position: relative;
    display: inline-block;
  }

  .before-underline-image::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 23px;
    background: url("/images/title_detail.png") no-repeat center center;
    background-size: cover;
    z-index: -1;
  }

  .before-plane-image {
    position: relative;
    display: inline-block;
  }

  .before-plane-image::before {
    content: "";
    position: absolute;
    right: 15px;
    top: -40px;
    width: 64px;
    height: 64px;
    background: url("/images/title_detail_2.png") no-repeat center center;
    background-size: cover;
  }
}
